*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/firebender/
.kotlin/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
deploy_debug*.txt  
cloud_build_error_links.txt  
